# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database
instance/
app/static/uploads/*
!app/static/uploads/.gitkeep
site.db

# Environment
.env
secret_key.txt

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
